.marquee-container {
    background-color: #F3F3F3;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fixed-div {
    background-color: #D72050;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .marquee {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-text {
    display: inline-block;
    white-space: nowrap;
    /* padding: 0 50vw;  */
    animation: marquee 30s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  